<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<connection>
		<password>parsec</password><user>parsec</user><connection_string>http://127.0.0.1:10101/IntegrationService/IntegrationService.asmx</connection_string>
	</connection>
	<view>
		<welcome_page>welcome\dip_welcome.html</welcome_page>
	</view>
</configuration>
